{% extends 'layout.html' %}


{% block content %}
{% if g.user %}
  Logged in as: {{ g.user.name }};
  <a href="{{ url_for('logout') }}">logout</a>
  {% if g.is_admin %}(admin){% endif %}
{% endif %}

<h1>ROSEdu polls</h1>

{% for poll in poll_list %}
  <h2>{{ poll.name }}</h2>

  {% if poll.user_can_vote() %}
    <form action="{{ url_for('vote') }}" method="post">
      <input type="hidden" name="poll" value="{{ poll.slug }}">
      <button type="submit" name="vote" value="yee">DA</button>
      <button type="submit" name="vote" value="nay">NU</button>
      <button type="submit" name="vote" value="abs">abțirere</button>
    </form>
  {% else %}
    ai votat deja, mulțumim!
  {% endif %}

  {% if g.is_admin %}
    {% set novote = poll.has_not_voted() %}
    {% if novote %}
      nu au votat:
      <ul>
      {% for p in novote %}
        <li>{{ p.name }} ({{ p.email }})</li>
      {% endfor %}
      </ul>
    {% endif %}
  {% endif %}
{% endfor %}

{% if g.is_admin %}
  <h2>Admin</h2>

  <ul>
    {% for group in group_list %}
      <li>
        {{ group.name }}
        [<a href="{{ url_for('create_poll', slug=group.slug) }}">new poll</a>]
      </li>
    {% endfor %}
  </ul>
{% endif %}
{% endblock %}
