{% extends 'layout.html' %}


{% block content %}
{% if g.user %}
  Logged in as: {{ g.user.name }};
  <a href="{{ url_for('logout') }}">logout</a>
  {% if g.is_admin %}(admin){% endif %}
{% else %}
  <a href="{{ url_for('get_secretkey') }}">Request login</a>
{% endif %}

<h1>ROSEdu polls</h1>

{% if g.is_admin %}
  <p>People with keys: {{ people_with_keys }}</p>
{% endif %}

{% for poll in poll_list %}
  <h2>
    {{ poll.name }}
    {% if not poll.isvisible %}(hidden){% endif %}
  </h2>

  {% if g.user %}
    {% if poll.user_can_vote() %}
      <form action="{{ url_for('vote') }}" method="post">
        <input type="hidden" name="poll" value="{{ poll.slug }}">
        <button type="submit" name="vote" value="yee" class="btn btn-sm btn-default">DA</button>
        <button type="submit" name="vote" value="nay" class="btn btn-sm btn-default">NU</button>
        <button type="submit" name="vote" value="abs" class="btn btn-sm btn-default">abținere</button>
      </form>
    {% else %}
      ai votat deja, mulțumim!
    {% endif %}
  {% endif %}

  <p>
    Voturi: {{ poll.votes_total }} / {{ poll.members.count() }}
  </p>

  {% if g.is_admin %}
    {% set novote = poll.has_not_voted() %}
    {% if novote %}
      nu au votat:
      <ul>
      {% for p in novote %}
        <li>{{ p.name }} (#{{ p.id }})</li>
      {% endfor %}
      </ul>
    {% endif %}

    {% if poll.isopen %}
      <form action="{{ url_for('set_poll_open', slug=poll.slug, newstate=False) }}"
            method="post">
        <button type="submit" class="btn btn-sm btn-default">close poll</button>
      </form>
    {% else %}
      <form action="{{ url_for('set_poll_open', slug=poll.slug, newstate=True) }}"
            method="post">
        <button type="submit" class="btn btn-sm btn-default">open poll</button>
      </form>
    {% endif %}

    {% if poll.isvisible %}
      <form action="{{ url_for('set_poll_visible', slug=poll.slug, newstate=False) }}"
            method="post">
        <button type="submit" class="btn btn-sm btn-default">hide poll</button>
      </form>
    {% else %}
      <form action="{{ url_for('set_poll_visible', slug=poll.slug, newstate=True) }}"
            method="post">
        <button type="submit" class="btn btn-sm btn-default">show poll</button>
      </form>
    {% endif %}
  {% endif %}

  {% if not poll.isopen %}
    <p>Rezultat:</p>
    <dl>
      <dt>DA <dd>{{ poll.votes_yee }}
      <dt>NU <dd>{{ poll.votes_nay }}
      <dt>abținere <dd>{{ poll.votes_abs }}
    </dl>
  {% endif %}
{% endfor %}

{% if g.is_admin %}
  <h2>Admin</h2>

  <ul>
    {% for group in group_list %}
      <li>
        {{ group.name }}
        [<a href="{{ url_for('create_poll', slug=group.slug) }}">new poll</a>]
      </li>
    {% endfor %}
  </ul>
{% endif %}
{% endblock %}
